# Postgres database local connection
POSTGRES_USER=postgres
POSTGRES_HOST=your_postgres_host
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=your_database_name
POSTGRES_PORT=5432

# Application Port - express server listens on this port (default 9000).
PORT=9000

# JWT access secret
SECRET=your_jwt_secret

# JWT refresh secret
REFRESH_SECRET=your_refresh_secret

# mail server settings
SMTP_FROM=your_email@example.com
SMTP_USER=your_email@example.com

# Stripe secret key - https://stripe.com/docs/keys
STRIPE_SECRET_KEY=your_stripe_secret_key

# Google OAuth2.0 settings for sign in with Google - https://console.developers.google.com/
OAUTH_CLIENT_ID=your_google_oauth_client_id
OAUTH_CLIENT_SECRET=your_google_oauth_client_secret
OAUTH_REFRESH_TOKEN=your_google_oauth_refresh_token

# Google OAuth2.0 settings for sending emails - https://console.developers.google.com/
CLIENT_ID=your_google_client_id
CLIENT_SECRET=your_google_client_secret
REFRESH_TOKEN=your_google_refresh_token